<<<<<<< HEAD
﻿@using ElectionMVC.ViewModels
@model ProposalListViewModel

<h2>@ViewBag.Name</h2>
<div>
    @foreach(var proposal in Model.Proposals)
=======
﻿<div>
    @foreach (Proposal proposal in Model)
>>>>>>> CRUD
    {
        @await Html.PartialAsync("~/Views/Shared/ProposalsSummary.cshtml", proposal)
    }
</div>