﻿@model Proposal

<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="img-thumbnail">
        <img src="@Model.ImageUrl" alt="" />
        <h3 class="pull-right">@Model.Count.ToString("c")</h3>
        <h3>
            <a>@Model.Name</a>
        </h3>
        <p>@Model.Description</p>
    </div>
</div>